<h3>Region les plus populaires</h3>
<!-- <div *ngFor="let reservation of reservations">
  <p>{{reservation.destination}}</p>
</div> -->
<div>
    <div style="display: block;">
        <canvas baseChart
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
          [colors]="pieChartColors"
          >
        </canvas>
      </div>
      