/* 
  Grand forfait CSS
  Par Charles-Etienne Villemure
  Le 5 Decembre 2020
*/
.favori {
  border: solid 2rem red;
}
.titre {
  font-size: 0.6rem;
  margin-bottom: 0;
}
.colone {
  display: block;
}
.etoiles {
  display: inline;
}
