<!-- 
  App component HTML
  Par Charles-Etienne Villemure
  Le 5 Decembre 2020 
-->

<app-menu></app-menu>
<mat-drawer-container >
    <mat-drawer #drawer mode="side">
      <app-formulaire-recherche [(description)]="description"></app-formulaire-recherche>        
    </mat-drawer>
    <button type="button" mat-button (click)="drawer.toggle()">
      Recherche
    </button>
    <div>
      <router-outlet></router-outlet>          
    </div>
</mat-drawer-container>
<!-- <app-formulaire-forfait></app-formulaire-forfait> -->


