<!-- 
  Formulaire forfait HTML
  Par Charles-Etienne Villemure
  Le 5 Decembre 2020
-->

<h1>Formulaire</h1>
  <form>
<!-- Destination -->
  <mat-form-field>
      <input type="text"
          placeholder="Destination"
          [formControl]="myControl"
          [matAutocomplete]="auto"
          matInput
          required>          
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
<!-- Ville de depart -->
  <mat-form-field>
    <input type="text"
           placeholder="Ville de depart"
           matInput
           [formControl]="myControlDeux"
           [matAutocomplete]="auto1"
           required>
    <mat-autocomplete #auto1="matAutocomplete">
      <mat-option *ngFor="let optionsanss of optionsDeux" [value]="optionsanss">
        {{optionsanss}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
<!-- Date de depart -->
<mat-form-field appearance="fill">
  <mat-label>Date de depart</mat-label>
  <input matInput 
         [matDatepicker]="picker" 
         required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<!-- Date de retour -->
<mat-form-field>
  <mat-label>Date de retour</mat-label>
  <input matInput 
         [matDatepicker]="picker2"
         maxlength="10" min-view="date" auto-close="true"
         view="date" maxlength="10" placeholder="Set Date" format="yyyy-MM-dd"
         required>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<!-- Prix -->
  <mat-form-field>
    <mat-label>Prix</mat-label>
    <input matInput 
           type="number"
           min="0" 
           required>
  </mat-form-field>
<h3>Hotel</h3>
<!-- Nom Hotel -->
  <mat-form-field>
    <mat-label>Nom hotel</mat-label>
    <input matInput 
           type="text" 
           minlength="2"
           [ngModel]="nomHotel" 
           name="controlenomHotel" 
           #controlenomHotel="ngModel"
           required>
    <mat-error *ngIf="controlenomHotel.hasError('required')">
      La description est <strong>obligatoire</strong>
    </mat-error>
    <mat-error *ngIf="controlenomHotel.hasError('minlength')">
      La longueur minimale est de 2 caractères. 
    </mat-error>
  </mat-form-field>
<!-- Coordonnees Hotel -->
  <mat-form-field>
    <mat-label>Coordonnees</mat-label>
    <input matInput 
           type="text"
           minlength="2" 
           [ngModel]="coordoneesHotel" 
           name="controlecoordoneesHotel" 
           #controlecoordoneesHotel="ngModel"
           required>
           <mat-error *ngIf="controlecoordoneesHotel.hasError('required')">
             La description est <strong>obligatoire</strong>
           </mat-error>
           <mat-error *ngIf="controlecoordoneesHotel.hasError('minlength')">
             La longueur minimale est de 2 caractères. 
           </mat-error>
  </mat-form-field>
<!-- Nombre Etoiles -->
    <mat-label>Nombre(s) etoile(s)</mat-label>
    <mat-slider min="1" 
                max="5" 
                step="1" 
                tickInterval="1"
                aria-required="true"
                thumbLabel [displayWith]="formatLabel">
    </mat-slider>
<!-- Nombre Chambres -->
  <mat-form-field>
    <mat-label>Nombre de Chambres</mat-label>
    <input matInput 
           type="number"
           min="0" 
           required>
  </mat-form-field>
<!-- Caracteristiques -->
  <ul>
    <li *ngFor="let caracteristique of caracteristiques">
      <mat-checkbox aria-required="true">
        {{caracteristique}}
      </mat-checkbox>
    </li>
  </ul>
</form>