<!-- 
    Petit forfait HTML
    Par Charles-Etienne Villemure
    Le 24 Fevrier 2021
 -->
<div class="container">
    <div class="colone">
        <div>
            <p>Destination</p>
            <h2>{{forfait.destination}}</h2>
            <p>Hotel</p>
            <h2>{{forfait.hotel.nom}}</h2>
        </div>
        <div>
            <p class="titre">Date de depart</p>
            <h3>{{forfait.dateDepart | date:'longDate' : 'fr'}}</h3>
        </div>
    </div>            
    <div class="colone">
        <div class="etoilesDiv" *ngFor="let i of [].constructor(forfait.hotel.nombreEtoiles);">
            <app-nombre-etoiles  [forfait]=forfait></app-nombre-etoiles>
        </div>
        <div>
            <p class="titre">Depart de</p>
            <h3>{{forfait.villeDepart}}</h3>
        </div>
        <div>
            <p class="titre">Duree</p>
            <h3>{{dureeDuVoyage(forfait.dateDepart,forfait.dateRetour)}} Jours </h3>
        </div>
    </div>
</div>
<div class="sectionPrix">
    <div *ngIf="forfait.rabais > 1; then rabais else sansRabais"></div>
    <ng-template #rabais>
        <div class="rabais" style="padding-left: 1rem;">
            <div>
                <p class="titre">Prix</p>
                <div style="display: inline-flex; align-items: center;">
                    <p class="rabaisForfaits" style="text-decoration: line-through;">{{forfait.prix}}</p>
                    <h3 class="rabaisForfait"> {{forfait.prix - forfait.rabais}} $</h3>
                </div>
            </div>
            <div>    
                <p class="titre">Rabais de :  <span style="color: red;">{{forfait.rabais}} $</span></p>
            </div>
        </div>
    </ng-template>
    <ng-template #sansRabais>
        <div style="padding-left: 1rem;">  
            <p class="titre">Prix</p>
            <h3>{{forfait.prix}}$</h3>
        </div>
    </ng-template>
</div>
   