/* 
  Petit forfait CSS
  Par Charles-Etienne Villemure
  Le 24 Fevrier 2021 
*/

h2,
h3 {
  margin: 0;
  font-weight: bold;
}
.rabaisForfait {
  margin-bottom: 0;
}
.etoilesDiv {
  display: inline-flex;
}
.colone {
  padding-left: 1rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  margin-bottom: 0;
}
