/* 
  Petit forfait CSS
  Par Charles-Etienne Villemure
  Le 5 Decembre 2020 
*/
.titre {
  margin-bottom: 0;
}
h3 {
  font-size: large;
}
.rabaisForfait {
  margin-bottom: 0;
}
div {
  display: inline-flex;
}
.colone {
  display: block;
}
