<!-- graphique-region.ts  -->
<!-- Par Charles-Etienne Villemure -->
<!-- Le 4 Mars 2021 -->
<h3>Groupe de voyageurs</h3>
<div>
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="chartColors">
        </canvas>
      </div>
    </div>
  </div>