<!-- 
  App component HTML
  Par Charles-Etienne Villemure
  Le 5 Decembre 2020 
-->

<!-- Racine : {{description}}<br><br> -->

<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <app-formulaire-recherche [(description)]="description"></app-formulaire-recherche>        
    </mat-drawer>
    <button type="button" mat-button (click)="drawer.toggle()">
      Recherche Rapide
    </button>
    <div>
      <app-liste-forfaits></app-liste-forfaits>    
    </div>
</mat-drawer-container>
