<form id="forfaitAjoutForm">
    <!-- Destination -->
    <mat-form-field>
        <input matInput [(ngModel)]="newForfait.destination"  [ngModelOptions]="{standalone: true}" placeholder="Destination"/>
    </mat-form-field>
    <!-- Ville de depart -->
    <!-- Nom Hotel -->
    <!-- coordonnees -->
    <!-- nombreEtoiles -->
    <!-- nombreChambres -->
    <!-- caracteristiques -->
    <!-- dateDepart -->
    <!-- dateRetour -->
    <!-- prix -->
    <!-- rabais -->
    <!-- vedette -->
</form>
<button mat-button [mat-dialog-close]="newForfait" cdkFocusInitial>Ok</button>

<!-- <app-formulaire-forfait></app-formulaire-forfait> -->