<!-- 
    Dialog-ajout-forfait.html
    Par Charles-Etienne Villemure
    Le 9 Fevrier 2021
 -->
<form id="forfaitAjoutForm">
    <!-- Destination -->
    <mat-form-field>
        <input type="text"
               placeholder="Destination"
               matInput 
               name="destination"
               [(ngModel)]="newForfait.destination"  
               [ngModelOptions]="{standalone: true}"
               minlength="2"
               maxlength="50"
               #destination="ngModel"
               required/>
        <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && 
            destination.hasError('required')">La destination est obligatoire.</mat-error>
        <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && 
          destination.hasError('minlength')">La destination doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && 
          destination.hasError('maxlength')">La destination doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>
    <!-- Ville de depart -->
    <mat-form-field>
        <input type="text"
               placeholder="Ville de depart"
               matInput
               [(ngModel)]="newForfait.villeDepart"
               [formControl]="myControlDeux"
               [matAutocomplete]="auto1"
               minlength="2"
               maxlength="50"
               name="villeDepart"
              
               required>
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let optionsanss of optionsDeux" [value]="optionsanss">
            {{optionsanss}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!-- dateDepart -->
    <mat-form-field>
        <mat-label>Date de depart</mat-label>
        <input matInput
               [matDatepicker]="picker" 
               [(ngModel)]="newForfait.dateDepart"
               [ngModelOptions]="{standalone: true}"
               required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <!-- dateRetour -->
    <mat-form-field>
        <mat-label>Date de retour</mat-label>
        <input matInput
               [(ngModel)]="newForfait.dateRetour"
               [ngModelOptions]="{standalone: true}" 
               [matDatepicker]="picker2"
               maxlength="10" min-view="date" auto-close="true"
               view="date" maxlength="10" placeholder="" format="yyyy-MM-dd"
               required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    <!-- prix -->
    <mat-form-field>
        <!-- <mat-label>Prix</mat-label> -->
        <input type="number"
               min="1"
               placeholder="Prix"
               matInput
               [(ngModel)]="newForfait.prix" 
               [ngModelOptions]="{standalone: true}"
               required>
    </mat-form-field>
    <!-- rabais -->
    <mat-form-field>
        <!-- <mat-label>Rabais</mat-label> -->
        <input type="number"
               placeholder="Rabais"
               min="0" 
               matInput
               [(ngModel)]="newForfait.rabais" 
               [ngModelOptions]="{standalone: true}"
               >
    </mat-form-field>
    <!-- vedette -->
    <mat-form-field>
        <mat-label>Forfait Vedette</mat-label>
        <select matNativeControl required [(ngModel)]="newForfait.vedette" [ngModelOptions]="{standalone: true}">
            <option [ngValue]="true">Oui</option>
            <option [ngValue]="false">Non</option>
        </select>
        </mat-form-field>
    <!-- HOTEL -->
    <h3>Hotel</h3>
    <!-- Nom Hotel -->
    <mat-form-field>
        <input type="text"
               placeholder="Nom Hotel"
               matInput
               [(ngModel)]="newForfait.hotel.nom"
               [ngModelOptions]="{standalone: true}"
               #nomHotel="ngModel" 
               minlength="2"
               maxlength="50"
               required/>
        <mat-error *ngIf="nomHotel.invalid && (nomHotel.dirty || nomHotel.touched) && 
          nomHotel.hasError('required')">Le nom de l'hotel est obligatoire.</mat-error>
        <mat-error *ngIf="nomHotel.invalid && (nomHotel.dirty || nomHotel.touched) && 
          nomHotel.hasError('minlength')">Le nom de l'hotel doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomHotel.invalid && (nomHotel.dirty || nomHotel.touched) && 
          nomHotel.hasError('maxlength')">Le nom de l'hotel doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>
    <!-- coordonnees -->
    <mat-form-field>
        <input type="text"
               placeholder="coordonnees de l'hotel"
               matInput
               [(ngModel)]="newForfait.hotel.coordonnees"
               [ngModelOptions]="{standalone: true}" 
               #coordonneesHotel="ngModel" 
               minlength="2"
               maxlength="50"
               required/>
        <mat-error *ngIf="coordonneesHotel.invalid && (coordonneesHotel.dirty || coordonneesHotel.touched) && 
          coordonneesHotel.hasError('required')">Les coordonnees de l'hotel est obligatoire.</mat-error>
        <mat-error *ngIf="coordonneesHotel.invalid && (coordonneesHotel.dirty || coordonneesHotel.touched) && 
          coordonneesHotel.hasError('minlength')">Les coordonnees de l'hotel doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="coordonneesHotel.invalid && (coordonneesHotel.dirty || coordonneesHotel.touched) && 
          coordonneesHotel.hasError('maxlength')">Les coordonnees de l'hotel doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>
    <!-- nombreEtoiles -->
    <mat-label>Nombre(s) etoile(s)</mat-label>
    <mat-slider min="1" 
                max="5" 
                step="1" 
                tickInterval="1"
                aria-required="true"
                thumbLabel [displayWith]="formatLabel"
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="newForfait.hotel.nombreEtoiles">
    </mat-slider>
    <!-- nombreChambres -->
    <mat-form-field>
        <mat-label>Nombre de Chambres</mat-label>
        <input type="number"
               min="1"
               matInput 
               [(ngModel)]="newForfait.hotel.nombreChambres"
               [ngModelOptions]="{standalone: true}"
               #nombreChambesHotel="ngModel"  
               required>
               <mat-error *ngIf="nombreChambesHotel.invalid && (nombreChambesHotel.dirty || nombreChambesHotel.touched) && 
               nombreChambesHotel.hasError('required')">Les coordonnees de l'hotel est obligatoire.</mat-error>
      </mat-form-field>
    <!-- caracteristiques -->
    <mat-form-field appearance="fill">
        <mat-label>Caracteristiques</mat-label>
        <mat-select multiple                
                    [(ngModel)]="newForfait.hotel.caracteristiques"
                    [ngModelOptions]="{standalone: true}" >
          <mat-option *ngFor="let caracteristique of caracteristiques" [value]="caracteristique">{{caracteristique}}</mat-option>
        </mat-select>
      </mat-form-field>
</form>
<button mat-button [mat-dialog-close]="newForfait" cdkFocusInitial>Ok</button>

