/* 
  Grand forfait CSS
  Par Charles-Etienne Villemure
  Le 5 Decembre 2020
*/
.favori {
  border: solid 2rem red;
}
.titre {
  font-size: 0.6rem;
  margin-bottom: 0;
}
.colone {
  display: block;
  margin: auto;
  margin-bottom: 0;
  width: 25%;
}
.coloneEtoiles {
  margin-bottom: 10vh;
}
.etoiles {
  display: inline;
}
