<!-- 
  Formulaire Recherche HTML
  Par Charles-Etienne Villemure
  Le 5 Decembre 2020
-->

<!-- Date depart -->
<mat-form-field appearance="fill">
    <mat-label>Choisissez une date</mat-label>
    <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<!-- Duree -->
<mat-form-field appearance="fill">
  <mat-label>Durée du voyage</mat-label>
  <mat-select>
    <mat-option *ngFor="let dureesejour of dureeSejours" [value]="dureesejour.valeur">
      {{dureesejour.valeurAfficher}}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- Etoile -->
<div class="etoile">
  <div>
    <p>Nombre d’étoiles</p>
      <mat-slider
        [(ngModel)]="description"
        (ngModelChange)="change($event)"
        min="1" max="5" step="1"  tickInterval="1" thumbLabel [displayWith]="formatLabel">
      </mat-slider>
    {{description}}
  </div>
</div>
<!-- Caracteristiques -->
<ul>
  <li *ngFor="let caracteristique of caracteristiques">
    <mat-checkbox>
      {{caracteristique}}
    </mat-checkbox>
  </li>
</ul>
